@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700i,900i&display=swap');

/* Blue is primary. Light blue and light pink are secondary. Yellow and pink are accent colors.
 */
body {
    padding: 0px;
    margin: 0px;
    background: #FAEFE0;
    --primary: #4F73AF;
    --secondary-1: #BEC9D9;
    --secondary-2: #E8C4C5;
    --accent-1: #D33E4A;
    --accent-2: #F6C059;   
    --secondary: #242424;
    --text-light-bg: #3B4241;
    --text-dark-bg: white;
    font-family: Roboto, sans-serif;
}

/* NAV */
#nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: left;
    position: fixed;
    right: 0px;
    height: 100vh;
}

/* SPLASH */
#splash {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    color: var(--text-light-bg);
}

#tagline {
    position: absolute;
    top: 20px;
    margin-top: 20px;
    font-size: 24px;
}

#title-blk {
    width: 65%;
    height: 461px;
    background-color: var(--accent-2);
}

#title-txt {
    position: relative;
    top: 110px;
    left: -35px;
    font-size: 6rem;
    font-weight: 900;
}

#title-deets {
    position: relative;
    top: 120px;
    left: 10px;
}

#title-register-btn {
    position: relative;
    top: 180px;
    margin: 0 auto;
}

#title-chevron {
    position: relative;
    top: 300px;
    width: fit-content;
    margin: 0 auto;
}

/* COOL TRANSITION */
#anim-container {
    height: 100%;
}

#cool-anim {
    position: sticky;
    top: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary);
}

#txt-anim-1 {
    top: calc(74px - 7vh);
    left: 62px;
    transform: rotate(20deg);
}

#txt-anim-2 {
    top: calc(-3px - 7vh);
    transform: rotate(-36deg);
    left: 24px;
}

#txt-anim-3 {
    transform: rotate(15deg);
    top: calc(144px - 7vh);
    left: 116px;
}

#stick-1 {
    top: calc(50px - 15vh);
    transform: rotate(20deg);
}

#stick-2 {
    top: calc(117px - 15vh);
    left: 13px;
    transform: rotate(-36deg);
}

#stick-3 {
    top: calc(200px - 15vh);
    left: 20px;
    transform: rotate(15deg);
}

#ball-1 {
    top: calc(18px - 15vh);
}

#ball-2 {
    top: calc(69px - 15vh);
    left: 130px;
}

#ball-3 {
    top: calc(156px - 15vh);
}

#ball-4 {
    top: calc(228px - 15vh);
    left: 270px;
}

/* ABOUT */
#about {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary);
    color: var(--text-dark-bg); 
}

/* SCHEDULE */
#schedule {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#about-container {
    padding: 0px 15% 0px 15%;
    display: flex;
    justify-content: space-around;
}

.em {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.header {
    font-size: 2rem;
    padding: 0 10% 0 10%;
}

.btn {
    font-size: 1.5rem;
    background: var(--primary);
    color: var(--text-dark-bg);
    box-shadow: 0px 5px var(--secondary-1);
    border-radius: 50px;
    padding: 12px 20px 12px 20px;
    width: fit-content;
    cursor: pointer;
}

.btn:active {
    box-shadow: none; 
    transform: translate(0px, 5px);
}

.chevron {
    margin-top: 20px;
}

.txt-anim {
    position: relative;
    color: white;
    font-size: 1.5rem;
}

.stick {
    margin: 0px;
    position: relative;
    background-color: white;
    height: 2px;
}

.reveal-div {
    
}

.ball {
    position: relative;
    float: left;
    background-color: white;
    border-radius: 100%;
}

.ball-size-1 {    
    width: 10px;
    height: 10px;
}

.ball-size-2 {
    width: 20px;
    height: 20px;
    border-radius: 100%;
}